<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EACH SCHEDULE</title>
    <link rel="stylesheet" href="/style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap" rel="stylesheet">
</head>
<%- include('../partials/header') %>
<body>
    <main>
        <h1 style="text-align:center">SCHEDULE(S) OF USER</h1>
        <table class="tablestyle">
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>Day</th>
                    <th>Start_Time</th>
                    <th>End_Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
        <% for(let i=0; i < schedule.length; i++) {%> 
        <th>  <%= schedule[i].user_id %> </th>
        <th> <%= schedule[i].day %> </th>
        <th>  <%= schedule[i].start_at %> </th>
        <th>   <%= schedule[i].end_at %> </th>
            </tr>
            </tbody>
      <%  } %>
            </table>
    </main>
</body>
<%- include('../partials/footer') %>
</html>