<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHEDULES</title>
    <link rel="stylesheet" href="/style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap" rel="stylesheet">
</head>
<%- include('../partials/header') %>
<body>
    <main>
        <H1 style="text-align:center"> SCHEDULES </H1>
        <table class="tablestyle">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                  
        <% for( let i=0; i < schedule.length; i++) { %>
            <tr>
        <td><%= schedule[i].username %></td>
        <td> <%= schedule[i].dayoftheweek %> </td>
        <td>  <%= schedule[i].starttime %> </td>
        <td>   <%= schedule[i].endtime %> </td>
    </tr>
        <% } %>
            
            </tbody>
        </table>
    </main>
</body>
<%- include('../partials/footer') %>
</html>